@import './base.css';

.newlineFix {
  white-space: pre-wrap; /* or pre-line */
}

.userbar {
  display: block;
  border: 1px solid black;
  margin-top: 1px;
}

.avatar {
  max-width: 60px;
}

.maincontent {
  padding: 3px;
}

.quoted .embed-image {
  max-width: 200px;
}

.embed-image {
  max-width: 500px;
}
